fastapi
uvicorn
streamlit
python-multipart
langchain
langchain-core
langchain-community
langchain-experimental
langchain-google-genai
langchain-huggingface
langchain-chroma
chromadb
markdown
unstructured
jq
selenium
requests
pydantic
python-dotenv
huggingface-hub
sentence-transformers
webdriver-manager